@import "@/shared/styles/_vars";

.page {
  padding: rem(20);
  background-color: rgb(var(--bg-color-light-main));
  min-height: 100vh;
  position: relative;
  transition: 0.3s ease-in-out;
}
.container {
  @include container();
  margin-left: 0;
}
.title {
  @include inter();
  cursor: text;
  font-weight: 600;
  display: inline;
  color: rgb(var(--text-color-dark));
  position: -webkit-sticky;
  position: sticky;
  top: rem(14);
  z-index: 11;
  @include H2-text();
}

// Настройки

.stringInput {
  display: flex;
  align-items: center;
  gap: rem(10);
}
.inputLabel {
  font-size: rem(18);
  cursor: pointer;
  color: rgb(var(--text-color-dark));
}
.checkboxWrapper {
  display: flex;
  align-items: center;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkboxWrapper input[type="checkbox"] {
    --active: #275efe;
    --active-inner: $white;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: $white;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: rem(21);
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkboxWrapper input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkboxWrapper input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkboxWrapper input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkboxWrapper input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkboxWrapper input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkboxWrapper input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkboxWrapper input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkboxWrapper input[type="checkbox"]:not(.checkbox) {
    width: rem(21);
  }
  .checkboxWrapper input[type="checkbox"]:not(.checkbox):after {
    opacity: var(--o, 0);
  }
  .checkboxWrapper input[type="checkbox"]:not(.checkbox):checked {
    --o: 1;
  }
  .checkboxWrapper input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkboxWrapper input[type="checkbox"]:not(.checkbox) {
    border-radius: 7px;
  }
  .checkboxWrapper input[type="checkbox"]:not(.checkbox):after {
    width: rem(5);
    height: rem(9);
    border: rem(2) solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: rem(7);
    top: rem(4);
    transform: rotate(var(--r, 20deg));
  }
  .checkboxWrapper input[type="checkbox"]:not(.checkbox):checked {
    --r: 43deg;
  }
  .checkboxWrapper input[type="checkbox"].checkbox {
    width: rem(38);
    border-radius: rem(11);
  }
  .checkboxWrapper input[type="checkbox"].checkbox:after {
    left: rem(2);
    top: rem(2);
    border-radius: 50%;
    width: rem(15);
    height: rem(15);
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .checkboxWrapper input[type="checkbox"].checkbox:checked {
    --ab: var(--active-inner);
    --x: 1.065rem;
  }
  .checkboxWrapper
    input[type="checkbox"].checkbox:disabled:not(:checked):after {
    opacity: 0.6;
  }
}

.checkboxWrapper * {
  box-sizing: inherit;
}
.checkboxWrapper *:before,
.checkboxWrapper *:after {
  box-sizing: inherit;
}

// Отклики
.responses {
  display: flex;
  gap: rem(20);
  margin-top: rem(20);
}
.tableWrapper {
  width: 100%;
  background-color: rgb(var(--bg-color-light));
  color: rgb(var(--text-color-dark));
  padding: rem(20) 0;
  font-weight: 500;
  border-radius: rem(12);
  overflow: auto;
}
.tableScroll {
  width: 100%;
  overflow-x: auto;
}
.responsesTable {
  border-collapse: collapse;
  width: 100%;

  & thead {
    width: 100%;
  }

  & th {
    white-space: nowrap;
    line-height: 1.5;
    min-height: rem(50);
    padding: rem(10);
    text-align: left;
    border-bottom: 1px solid rgba(var(--bg-color-dark), 0.4);
    font-weight: 500;
    padding-left: 0;
    width: auto;

    & span {
      cursor: text;
    }

    &:first-child {
      padding-left: rem(20);
    }
  }

  & tr {
    width: 100%;
    vertical-align: middle;
    padding: rem(10);
    transition: 0.2s;

    &:first-child:hover {
      background-color: rgba(var(--bg-color-dark), 0);
    }

    &:hover {
      background-color: rgba(var(--bg-color-dark), 0.2);
    }
  }

  & td {
    white-space: nowrap;
    padding: rem(10);
    border-bottom: 1px solid rgba(var(--bg-color-dark), 0.4);

    & span {
      cursor: text;
    }

    &:first-child {
      padding-left: rem(20);
    }
  }
}
.tableTitle {
  text-align: left;
  font-size: rem(20);
  font-weight: 600;
  margin-bottom: rem(10);
  margin-left: rem(20);
  cursor: text;
}

// Общие стили для страницы
.docsWrapper {
  max-width: rem(700);
}
.pageWrapper {
  margin-top: rem(20);
  color: rgb(var(--text-color-dark));

  & ul {
    margin-top: rem(6);
    & li {
      cursor: text;
    }
  }

  & hr {
    margin-top: rem(20);
  }

  & ol {
    margin-top: rem(6);
    & li {
      cursor: text;
    }
  }

  & h3 {
    margin-top: rem(10);
    @include H3-text();
    position: -webkit-sticky;
    position: sticky;
    top: rem(70);
    z-index: 10;
    background-color: rgb(var(--bg-color-light-main));
    padding: rem(10) 0;
  }

  & h4 {
    margin-top: rem(10);
    @include H4-text();
  }

  & h5 {
    margin-top: rem(10);
    @include H5-text();
  }

  & h6 {
    margin-top: rem(10);
    @include H6-text();
  }

  & p {
    margin-top: rem(6);
    @include p-text();
  }

  & a {
    color: inherit;
    text-underline-offset: rem(4);

    &:hover {
      color: rgb(var(--accent));
    }
  }
}
