@import "@/shared/styles/_vars";

.header {
  margin-left: var(--sidebar-width);
  padding: rem(20) rem(20);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(var(--bg-color-light));
  max-height: rem(100);
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  @include theme-transition();
  transition: margin-left 0.3s ease-in-out;

  &.close {
    background-color: red;
  }
}
.messages {
  height: 100%;
  display: flex;
  align-items: center;
  gap: rem(6);
  border-right: 1px solid rgb(var(--bg-color-dark-main));
  padding-right: rem(10);
}
.messageLink {
  color: rgb(var(--bg-color-dark));
  height: 100%;
  transition: 0.1s;
  aspect-ratio: 1/1;
  padding: rem(8);
  border-radius: rem(6);

  @include theme-transition();

  &:hover {
    background-color: lighten($accent, 30%);

    @media screen and (prefers-color-scheme: dark) {
      color: rgb(var(--bg-color-light));
    }
  }

  &:focus {
    outline: 1px solid rgb(var(--bg-color-dark));
    border: 0;
  }

  & svg {
    min-width: rem(24);
    height: 100%;
  }
}
.account {
  padding-left: rem(20);
  display: flex;
  align-items: center;
  gap: rem(10);
  position: relative;
  color: rgb(var(--text-color-dark));
  @include theme-transition();
}
.name {
  cursor: text;
  font-weight: 500;
}
.userImage {
  border-radius: rem(50);
}
.userButton {
  border: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
  transition: 0.1s;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid rgb(var(--bg-color-dark));
    border: 0;
    border-radius: rem(50);
  }
}
.dropDown {
  position: absolute;
  bottom: rem(-20);
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: rem(6);
  background-color: rgba(var(--bg-color-light), 0.6);
  @include theme-transition();
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: rem(16);
  transform: translate(0, 100%);
  padding: rem(10);
  border: 1px solid rgb(var(--bg-color-light-main));
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.dropDownLink {
  text-decoration: none;
  padding: rem(8) rem(16);
  color: var(--text-color-dark);
  border-radius: rem(8);
  transition: 0.1s;
  display: flex;
  align-items: center;
  gap: rem(8);
  @include theme-transition();

  &:hover {
    background-color: rgba(var(--accent), 0.3);
  }

  &.active {
    background-color: $accent;
    color: #fff;
  }

  &:focus {
    outline: 1px solid rgb(var(--bg-color-dark));
    border: 0;
  }
}
